li {
    list-style: none;
}

.infoBtn {
    display: block;
    width: 115px;
    height: 39px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    border-radius: .25rem;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
}

.saveBtn {
    float: right;
    height: 39px;
    width: 115px;
    margin-right: 20px;
    margin-top: 10px;
}
